langchain==0.1.0 
openai==1.7.2 
langchain-openai==0.0.2 
langchain-community==0.0.12 
langchain

python-dotenv

#repl
ipython

#for retrival step
chromadb==0.4.22

# for agent step (not in blog)
langchainhub